.mainChat
  .mainChat__header
    .mainChat__box
      .mainChat__groupname
        = @group.name
      .mainChat__smallbox
        .mainChat__smallbox__member
          Member：
        .mainChat__smallbox__name
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group), class: "mainChat__edit" do
      Edit
  .mainChat__messages
    = render @messages
  .Form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .mainChat__form
        .mainChat__inputbox
          = f.text_field :content, class: 'inputbox__text', placeholder: 'type a message'
          = f.label :image, class: 'inputbox__image' do
            = icon('far', 'image', class: 'inputbox__image')
            = f.file_field :image, class: 'inputbox__image__file'
        = f.submit 'Send', class: 'submit-btn'
